.search {
  padding-left: 16px !important;

  .input {
    margin-top: 5px;
  }

  :global {
    .ant-input {
      height: 32px;
    }
  }
}

.pagination {
  padding-left: 16px !important;
  text-align: center;

  :global {
    .ant-pagination-item a {
      color: #000000d9 !important;
    }
  }
}

.loading {
  text-align: center;
  padding-left: 16px !important;
}

.report-menu {
  text-transform: uppercase;
  :global {
    .ant-menu-item-icon {
      width: 14px;
      height: 14px;
    }
  }
}
.font_standart {
  font-size: 14px;
}
.bold {
  font-weight: bold;
}

.italicBold {
  font-style: italic;
  font-weight: bold;
}

.italic {
  font-style: italic;
}
.report_periodic {
  background-color: #fafafa;
  :global {
    .tree-antd-report {
      background-color: #fafafa;
    }
    .ant-tree-treenode {
      padding-left: 25px;
      &:hover {
        .title-node-report {
          color: #3fa3ff;
        }
        .ant-tree-node-content-wrapper {
          background-color: #fafafa;
        }
        .ant-tree-node-selected {
          background-color: #e6f7ff;
        }
      }
    }
    .title-node-report {
      // padding-top: 10px;
    }
    .ant-tree-node-content-wrapper {
      padding: 0;
    }
    .ant-tree-treenode {
      height: 40px;
      padding-top: 5px;
    }
    .ant-tree-treenode-selected {
      background-color: #e6f7ff;
      border-right: 3px solid #3fa3ff;
      .title-node-report {
        color: #3fa3ff;
      }
    }
    .ant-tree-treenode > .ant-tree-node-selected {
      background-color: #e6f7ff;
    }
    .ant-tree-treenode > .ant-tree-switcher {
      color: black;
    }
  }
}

.title {
  text-transform: uppercase;
}
.listReport {
  width: 100%;
}
