.menu-style {
  // & > li {
  //   padding: 15px 0 !important;
  // }
  padding: 25px 0;

  & > li {
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.search {
  padding-left: 16px !important;

  .input {
    margin-top: 3px;
  }
}

.pagination {
  padding-left: 16px !important;
  text-align: center;

  :global {
    .ant-pagination-item a {
      color: #000000d9 !important;
    }
  }
}
