.delete-body-container {
  width: 100%;
  display: flex;
  flex-direction: row;

  .left-delete-body {
    width: 150px;
    font-size: 14px;
    color: black;
  }

  .right-delete-body {
    font-size: 14px;
    color: black;
    width: calc(100% - 120px);
  }
}
.main-container {
  .list-source-container {
    margin-bottom: 20px;

    .item-list-container {
      display: flex;
      width: 100%;
      flex-direction: row;
      margin-block-end: 5px;

      .left-item-list {
        width: calc(100% - 80px);
        padding-block: 5px;
        border: 1px solid gray;
        border-radius: 5px;
        padding-inline: 10px;
      }

      .right-item-list {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .add-source-container {
    display: flex;
    flex-direction: row;

    .left-container {
      width: calc(100% - 80px);
    }
    .right-container {
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      .add-button {
        border-radius: 5px;
      }
    }
  }
}

.delete {
  color: #ff4d4f;
  :hover {
    width: 25px;
    height: 25px;
  }
}
