.main-container {
  padding: 10px;

  .filter-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    z-index: 1;
    position: fixed;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(240, 240, 240, 1);
  }

  .body {
    margin-top: 50px;
  }
}
