.page-header {
  :global {
    .ant-page-header-heading {
      position: relative;
    }
  }
}

.detail-content {
  font-family: serif;
  font-size: 16px;
  line-height: 1.7;
  margin-block: 20px;
  color: #1a2433;
}
