.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .name-object {
    width: 315px;
    border-right: 0.5px solid rgb(220, 220, 220);
    height: calc(100vh - 50px);
    padding-bottom: 5px;
    padding-inline-start: 10px;
  }
  .content {
    width: calc(100% - 315px);
    padding-left: 10px;

    .all-tab-button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;

      .tab-button-container {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
