.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .name-object {
    width: 315px;
    border: 0.5px solid gray;
    height: 850px;
    border-radius: 5px;
    padding-bottom: 5px;

    .option-container {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-inline: 5px;
    }
    .list-user-container {
      height: calc(100% - 50px);
      width: 100%;
      overflow: auto;
    }
  }
  .content {
    width: calc(100% - 315px);
    padding-left: 10px;

    .all-tab-button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;

      .tab-button-container {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
