.ant-modal-wrap {
    display: grid;
    place-items: center;
}

.box:not(:last-child) {
    margin-bottom: 50px;
}

.news-category-modal-wrap {
    .ant-checkbox-wrapper {
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        padding: 10px 0;
        color: grey;
      }

      
    .ant-list-item-action li {
        padding-right: 0;
    }
    
    .btn__delete {
        display: flex;
        justify-content: flex-end;
        padding-right: 0;
    }

    .ant-modal-body {
        max-height: 400px !important;
    }
    
    .ant-modal-content {
        border-radius: 10px;
        min-width: 650px;
    }

    .ant-select-selector {
        padding: 8px;
        border-radius: 10px !important;
    }
    
    .ant-modal-header {
        border-radius: 10px 10px 0 0;
    
        .ant-modal-title {
            font-weight: bold;
        }
    
    }
    
    .ant-btn {
        width: 100%;
        height: auto;
        border-radius: 5px;
        font-weight: bold;
    }
    
    .ant-typography {
        font-weight: bold;
        // font-style: italic;
    }
    
    span.ant-typography {
        display: block;
        margin-bottom: 25px;
        font-size: 15px;
    }
    
    a.ant-typography {
        font-size: 14px;
        color: grey !important;
        font-style: italic;

    }

    h5.ant-typography {
        font-size: 14px;
        font-style: italic;
        color: grey !important;


    }

    .ant-select-multiple .ant-select-selection-placeholder {
        padding-right: 10px;
        padding-left: 10px;
    }

    .box__category:not(:last-child) {
        margin-bottom: 20px;
    }

    .ant-modal-footer {
        button {
            width: 80px !important;
            height: 40px !important;
        }
    }
}
.box__image > img{
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    object-fit: cover;
}