.body-modal {
  width: 100%;
  height: calc(100vh - 125px);
  display: flex;
  flex-direction: row;

  .left-body {
    width: 50%;
    height: 100%;
    .left-header {
      padding-left: 10px;
      font-size: 14px;
      height: 35px;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    .left-content {
      width: 100%;
      height: calc(100% - 35px);
      border: 1px solid rgb(200, 200, 200);
      overflow: auto;
      padding-left: 10px;
      .scroll-class;
      .detail-content {
        font-family: serif;
        font-size: 14px;
        line-height: 1.7;
        margin-block: 20px;
        color: #1a2433;
        video {
          display: none !important;
        }
        img {
          max-width: 450px !important;
          @media screen and (max-width: 1200px) {
            max-width: 400px !important;
          }

          @media screen and (max-width: 960px) {
            max-width: 300px !important;
          }
          @media screen and (max-width: 760px) {
            max-width: 200px !important;
          }
        }
      }
    }
  }

  .right-body {
    width: 50%;
    height: 100%;
    .right-header {
      padding-left: 10px;
      display: inline-flex;
      align-items: center;
      width: 100%;
      height: 35px;

      .title-right-header {
        font-size: 14px;
        font-weight: bold;
        padding-block: 10px;
        width: 40%;
      }
      .add-event-button-container {
        width: 60%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .add-event-button {
          width: auto;
          height: 30px;
          border-radius: 5px;
        }
      }
    }

    .right-content {
      width: 100%;
      height: calc(100% - 35px);
      border: 1px solid rgb(200, 200, 200);
      overflow: auto;
      .scroll-class;

      .event-container {
        width: 100%;
        height: 50%;
        border-bottom: 1px solid rgb(200, 200, 200);

        .text-header {
          font-style: italic;
          font-weight: bold;
          height: 35px;
          padding-left: 10px;
          display: flex;
          align-items: center;
        }

        .detail-all-event {
          height: calc(100% - 35px);
          overflow: auto;
          border-top: 1px solid rgb(200, 200, 200);

          .scroll-class;
        }
      }
      .add-event-container {
        padding: 10px;
      }
    }
  }
}

.add-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  .add-button {
    width: auto;
    border-radius: 5px;
  }
}
.scroll-class {
  &:hover::-webkit-scrollbar-thumb {
    background-color: #9da5b1;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: 6px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.item-container {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(230, 230, 230);

  .collapse-container {
    width: calc(100% - 55px);
    .item-content-container {
      width: 100%;
      padding-left: 20px;
      .line-field-content {
        width: 100%;
        display: inline-flex;

        .title-field {
          width: 100px;
        }
        .content-field {
          width: calc(100% - 100px);
          display: inline-flex;
        }
      }
    }
  }

  .edit-container {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.text-content {
  background-color: white;
  padding: 0px 5px;

  .scroll-class;
}

.edit {
  color: #1890ff;
  margin-left: 5px;
  font-size: 14px;
}

.delete {
  color: #ff4d4f;
  font-size: 14px;
  margin-left: 5px;
}

.plus {
  font-size: 18px;
}

.title-child-item {
  width: calc(100% - 10px);
  background-color: green;
}

.report-icon {
  color: black;
  margin-left: 5px;
  font-size: 14px;
}

.modal {
  :global {
    .ant-modal-body {
      padding: 5px;
      max-height: unset !important;
    }

    .ant-modal-content {
      height: calc(100vh - 60px);
    }
  }
}

.add-exist-event-container {
  width: 100%;
  padding-bottom: 20px;
}
.add-exist-event-header {
  width: 100%;

  display: inline-flex;
  .left-add-exist-news-container {
    width: calc(100% - 80px);
    .news-event-select {
      width: 100%;
    }
  }
  .right-add-exist-news-container {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .add-button {
      border-radius: 5px;
    }
  }
}

.add-new-event-container {
  padding-bottom: 20px;
}
