.sidebar {
  // padding: 25px 10px;
  padding: 25px;
  width: 100%;
}

.text {
  color: #224170;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;

  &:hover {
    color: #40a9ff;

  }
}

.active {
  color: #40a9ff;
}

.source_group {
  :global {
    .ant-tree-node-content-wrapper-normal .title-node-report {
      text-transform: none;
    }
  }
}

.sidebar__icon {
  font-weight: bold !important;
  margin-right: 8px;
}