.avatar {
  cursor: pointer;
  margin-right: 20px;
}
.namecolumn {
  padding-left: 50px;
  margin-bottom: 0;
}
.namerow {
  display: flex;
}
.segmented {
  margin-left: 20px;
}
.search {
  width: 200px;
}
.edit {
  color: #1890ff;
}
.delete {
  color: #ff4d4f;
}
.fontNormal {
  font-size: 16px;
  font-weight: 700;
}
.name {
  padding-top: 4px;
}
