.delete {
  color: #ff4d4f;
  font-size: 14px;
  margin-left: 5px;
}
.add-exist-event-header {
  width: 100%;

  display: inline-flex;
  .left-add-exist-news-container {
    width: calc(100% - 80px);
    .news-event-select {
      width: 100%;
    }
  }
  .right-add-exist-news-container {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .add-button {
      border-radius: 5px;
    }
  }
}
