.main-container {
  background-color: white;
  width: 100%;
  height: calc(100% - 60px);

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-block: 20px;

    .left-header {
      width: 70%;
      .search-button {
        width: 80%;
      }
    }
    .right-header {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;

      .add-button {
        border-radius: 5px;
      }
    }
  }
  .body {
    width: 100%;

    .title-table-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      border: 1px solid gray;

      .name-category {
        width: 60%;
        background-color: #2076be;
        color: white;
        padding-left: 20px;
        border-right: 1px solid gray;
        padding-block: 10px;
        font-size: 16px;
      }

      .detail-category {
        width: 40%;
        background-color: #2076be;
        color: white;
        padding-left: 20px;
        padding-block: 10px;
        font-size: 16px;
      }
    }

    .detail-table {
      width: 100%;
    }
  }
}
