.col {
  border: 1px solid #f0f0f0;

  &:last-child {
    border-left: 0;
  }
}

.name-category {
  background-color: #fafafa;
  color: #000000d9;
  // border-right: 1px solid gray;
  font-size: 16px;
  padding: 5px 20px;
}

.placeholder {
  min-height: 500px;
}
.description {
  width: 200px;
}
