.tree {
  .title {
    margin-bottom: 20px;

    .text {
      color: #224170;
      text-transform: uppercase;
      font-weight: bold;
    }

    .icon {
      text-align: right;
      font-size: 14px;
      padding-right: 10px;
      color: rgba(34, 65, 112, 1);
    }
  }
}
