.app-filter {
    align-items: center;
    width: 100% !important;
    height: 45px !important;
    position: absolute !important;

    .ant-form {
        width: 100%;
        display: flex;
    }

    .ant-input-search {
        display: inline-block !important;
        width: 100% !important;
        max-width: unset !important;
    }

    .btn-tool {
        border: none !important;       
        cursor: pointer !important;
        
        svg {
        cursor: pointer !important;

        }
    }

    .newsFilter__btn {
        border: none !important;        
    }

    .app-filter-tools {
        display: flex !important;
        // flex: 2 !important;

    }
}