@import "./color.less";
@import "./icons.less";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap");

#root {
  height: 100%;
  // overflow-x: hidden;
}

// body {
//   font-family: "Montserrat", sans-serif;
// }

#modal-mount {
  position: relative;

  .ant-modal-mask,
  .ant-modal-wrap {
    position: absolute;
  }
}

.scrollbar {
  &:hover::-webkit-scrollbar-thumb {
    background-color: #9da5b1;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: 6px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.ant-page-header {
  padding-top: 6px;

  .ant-page-header-heading {
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 10px 0;
    background: #fff;
  }
}

.p-10 {
  padding: 10px;
}
