.title {
  padding: 2px 0;
  text-transform: uppercase;
}

.tree-title {
  &:hover {
    .titleNode {
      color: #224170;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .titleNode {
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
  }

  :global {
    .ant-typography-single-line {
      white-space: unset;
    }
  }

  .paragraph {
    width: 100%;
    margin-bottom: 0;

    &.is-open {
      width: 110px;
    }
  }
}

.menu {
  text-align: right;
  padding-right: 6px;
}

.delete {
  color: #ff4d4f;
}

.edit {
  color: #1890ff;
}

.add {
  color: #096dd9;
}

.ellips {
  font-size: 16px;
  transform: rotate(90deg);
}
